.navigation {
  height: 100%;
  margin-left: auto;
}
.navigation__burger-button {
  display: none;
  width: 45px;
  height: 45px;
  border: none;
  margin-left: auto;
  margin-right: 10px;
  border-radius: 50px;
  border: 3px solid rgb(194, 144, 45);
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

.navigation__burger-button-icon {
  position: absolute;
  width: 15px;
  height: 15px;
  transform: rotate(-45deg);
  box-sizing: border-box;
  border-left: 3px solid rgb(194, 144, 45);
  border-bottom: 3px solid rgb(194, 144, 45);
  top: 8px;
  left: 12px;
  transition: all 0.3s linear;
}

.navigation__burger-button-icon-second {
  position: absolute;
  width: 15px;
  height: 15px;
  transform: rotate(-45deg);
  box-sizing: border-box;
  border-left: 3px solid rgb(194, 144, 45);
  border-bottom: 3px solid rgb(194, 144, 45);
  transform: rotate(135deg);
  top: 8px;
  left: 12px;
  transition: all 0.3s linear;
  opacity: 0;
}
.navigation__burger-button-icon_active {
  position: absolute;
  width: 15px;
  height: 15px;
  transform: rotate(-45deg);
  box-sizing: border-box;
  border-left: 3px solid rgb(194, 144, 45);
  border-bottom: 3px solid rgb(194, 144, 45);
  top: 3px;
  left: 12px;
}

.navigation__burger-button-icon-second_active {
  position: absolute;
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  border-left: 3px solid rgb(194, 144, 45);
  border-bottom: 3px solid rgb(194, 144, 45);
  top: 21px;
  left: 12px;
  opacity: 1;
}
.navigation__button {
  height: 100%;
  background-color: transparent;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-style: italic;
  cursor: pointer;
  margin-left: 10px;
  transition: all 0.3s linear;
}
.navigation__button:hover {
  background-color: rgb(65, 63, 63);
}
.navigation__button_active {
  color: rgb(11, 196, 226);
}
@media screen and (max-width: 600px) {
  .navigation__burger-button {
    display: block;
  }
  .navigation {
    display: none;
  }
  .navigation_active {
    display: flex;
    height: 180px;
    position: fixed;
    flex-direction: column;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: rgb(17, 17, 17);
  }
  .navigation__button {
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
}
